.Rproj.user
.Rhistory
.RData
.Ruserdata
plots/lasso/ITT/*
plots/lasso/compliant/*
plots/random_forest/ITT/*
plots/random_forest/compliant/*
tables/lasso/ITT/*
tables/lasso/compliant/*
tables/random_forest/ITT/*
tables/random_forest/compliant/*
